/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/

body {
  background-color:#bdc3c7;
}

.profil {
  width:300px;
  height:660px;
  margin:20px 0 0 20px;  
  background-color:#31363b;
  box-shadow: 0px 0px 38px -5px rgba(0,0,0,0.75);
}

.hlavicka {
  position:relative;   
}

.foto {
  width:300px;
  height:30%;
}
  
.logo {
  position:absolute; 
  bottom:-20px;  
  right:35px;
  background-color:#b92e81;
  border-radius:100%;
}

.obsah{  
  text-align:block;
}

.jmeno {
  font-family: 'Montserrat', sans-serif;
  color:white;
  padding: 20px 20px 10px 20px;
  font-size:25px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  color:#bdc3c7;
  padding: 10px 20px;
  margin:0;  
}

.odkazy {
   margin:24px 0 0 0;
   padding:0px;
}

.odkazy li {
   display: inline-block;
   font-family:'Montserrat', sans-serif;
   text-transform:uppercase;
   margin:0;
   padding:0;
}

.odkazy a {
  text-decoration:none;
  color:#bdc3c7;
  display:block;
  padding:13px;
  text-align:center;
  background-color:#31363b; 
  border-top:1px solid #3f464d;
  border-right:1px solid #3f464d;
}

.odkazy a:hover {
  color:white;
}

.portfolio {
  width:100%;
}

.portfolio a:hover {
  background-color:#e74c2e;
}

.facebook,.twitter{
  width:50%;
  float: left;
}

.facebook a:hover{
  background-color:#3b5998;
}

.twitter a:hover {
  background-color:#1da1f2;
}


